{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
    <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
      <span class="visually-hidden">{{ product.title }}</span>
    </a>
  
    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign preview_image = product.featured_media.preview_image -%}
    {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  
    {% unless preview_image == blank %}
      {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
    {% endunless %}
  
    <div product-card__image-with-placeholder-wrapper" data-image-loading-animation>
      <div id="" class="grid-view-item__image-wrapper product-card__image-wrapper js">
        <div class="hs-product-pic-container">
          <img id=""
                class="grid-view-item__image lazyload"
                alt="{{ preview_image.alt }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-sizes="auto"
                data-image style="height: 100% !important; object-fit: cover;">
        </div>
      </div>
    </div>
  
    <noscript>
      {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
      <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
    </noscript>
  
    <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
  
    {% include 'product-price-listing', product: product, show_vendor: show_vendor %}
  
  </div>
  