<div class="text-center hs-science-btn">
    <a href="{{ section.settings.linkBtn1 }}" class="btn">
      {{ section.settings.textBtn1 }}
    </a>
    <a href="{{ section.settings.linkBtn2 }}" class="btn">
      {{ section.settings.textBtn2 }}
    </a>
</div>
{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "id": "textBtn1",
      "type": "text",
      "label": "Button 1 Text"
    },
    {
      "id": "linkBtn1",
      "type": "url",
      "label": "Button 1 Link"
    },
    {
      "id": "textBtn2",
      "type": "text",
      "label": "Button 1 Text"
    },
    {
      "id": "linkBtn2",
      "type": "url",
      "label": "Button 1 Link"
    }
  ]
}
{% endschema %}