{% assign collection = collections[section.settings.collection] %}

<div class="hs-section" data-section-id="{{ section.id }}" data-section-type="hs-collection-slider">
    <h3 class="text-center">{{ collection.title }}</h3>
    <div class="quotes-wrapper" tabindex = "-1" data-slider>
        <div class="quotes-slider-wrapper" data-slider-container>
            <div class="quotes-slider" data-slider-track>
                {% for product in collection.products limit: 4 %}
                <div id="slickSlide{{ product.id }}"
                class="quotes-slide"                  
                data-slider-slide-index="{{ forloop.index0 }}"
                data-slider-item style="width: 25%;">
                    <div class="collection-product-container">
                        <a class="collection-product-content" href="{{ product.url }}">
                            <img src="{{ product.featured_image | img_url: '800x800' }}" alt="">
                            <span class="text-center"> {{ product.title }} </span>
                            <span class="text-center">{{ product.price | money }}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
            {{ 'collections.general.view_all' | t }}
        </a>
    </div>
</div>



{% schema %}
{
    "name": "HS Collection Slider",
    "settings": [
        {
            "id": "collection",
            "label": "Choose collection",
            "type": "collection"
        }
    ],
    "presets": [
        {
            "name": "HS Colletion Slider",
            "category": "HS"
        }
    ]    
}
{% endschema %}