<div class="hs-product" data-section-type="hs-product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-ajax-enabled="{{ settings.enable_ajax }}">
    {% assign product = all_products[section.settings.product] %}
    {% assign current_variant = product.selected_or_first_available_variant %}
 
    <div class="hs-product-left">
        {% if current_variant.featured_media == blank %}
            <img src={{ product.featured_image | img_url: '500x500' }}>
        {% else current_variant.featured_media != blank %}
            <img src={{ current_variant.featured_media | img_url: '500x500' }}>
        {% endif %}
   </div>
 
    <div class="hs-product-right">
       <div class="hs-product-info">
          {% if product != empty %}
             <h2 class="product-title">{{ product.title }}</h2>
          {% else %}
             <h2 class="product-title">{{ 'homepage.onboarding.product_title' | t }}</h2>
          {% endif %}
 
          <div>
             {% include 'product-price', variant: current_variant, product: product %}
          </div>
 
          <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
             <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
             {% include 'icon-error' %}
             <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
          </div>
 
          {% if product != empty %}
             {% capture "form_classes" -%}
                product-form product-form-{{ section.id }}
                {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
             {%- endcapture %}
 
             {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                {% unless product.has_only_default_variant %}
                   <div class="product-form__controls-group">
                      {% for option in product.options_with_values %}
                         <div class="selector-wrapper js product-form__item">
                            <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
                               {{ option.name }}
                            </label>
                            <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                               {% for value in option.values %}
                                  <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                               {% endfor %}
                            </select>
                         </div>
                      {% endfor %}
                   </div>
                {% endunless %}
 
                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                   <option value="{{ variant.id }}"
                      {%- if variant == current_variant %} selected="selected" {%- endif -%}
                   >
                      {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                   </option>
                {% endfor %}
                </select>
 
                <div class="product-form__controls-group product-form__controls-group--submit">
                   <div class="product-form__item product-form__item--submit
                      {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}">
                      <button type="submit" name="add"
                         {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                         aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                         class="submit-btn product-form__cart-submit"
                         aria-haspopup="dialog"
                         data-add-to-cart>
                         <span data-add-to-cart-text>
                            {% unless current_variant.available %}
                            {{ 'products.product.sold_out' | t }}
                            {% else %}
                            {{ 'products.product.add_to_cart' | t }}
                            {% endunless %}
                         </span>
                         <span class="hide" data-loader>
                            {% include 'icon-spinner' %}
                         </span>
                      </button>
                   </div>
                </div>
             {% endform %}
 
             <a href={{ product.url }}>{{ section.settings.link_label }}</a>
          {% else %}
             <button class="submit-product-btn product-form__cart-submit" disabled>
                <span data-add-to-cart-text>
                   {{ 'products.product.sold_out' | t }}
                </span>
             </button>
          {% endif %}
 
          {%- comment -%}
           Live region for announcing updated price and availability to screen readers
          {%- endcomment -%}
          <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
          ></p>
 
          {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
          {%- endcomment -%}
          <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
          >{{ 'products.product.loader_label' | t }}</p>
       </div>
    </div>
 </div>
 
 {% unless product == empty %}
   <script type="application/json" id="ProductJson-{{ section.id }}">
     {{ product | json }}
   </script>
   <script type="application/json" id="ModelJson-{{ section.id }}">
     {{ product.media | where: 'media_type', 'model' | json }}
   </script>
 {% endunless %}
 
 <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ shop.url | append: product.url | json }},
      {%- if product.featured_media -%}
        {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
        "image": [
          {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
        ],
      {%- endif -%}
      "description": {{ product.description | strip_html | json }},
      {%- if current_variant.sku != blank -%}
        "sku": {{ current_variant.sku | json }},
      {%- endif -%}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ shop.url | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
 </script>
 
 {% schema %}
    {
       "name": "HS Featured Product",
       "settings": [
          {
             "id": "product",
             "type": "product",
             "label": "Product"
          },
          {
             "id": "link_label",
             "type": "text",
             "label": "Label for link to product",
             "default": "View product details"
          }
       ],
       "presets": [
          {
             "name": "HS Featured Product",
             "category": "HS"
          }
       ]
    }
 {% endschema %}