<div class="hs-section" data-section-id="{{ section.id }}" data-section-type="hs-slideshow-section">
    {%- if section.blocks.size > 0 -%}
    <div id="SlideshowWrapper-{{ section.id }}" class="slideshow-wrapper" role="region" tabindex="-1" data-slider>
        <div class="slideshow slideshow--large{% if display_controls %} slideshow--display-controls{% endif %}"
        id="Slideshow-{{ section.id }}"
        data-autorotate="{{ section.settings.autorotate }}"
        data-slider-container
        data-speed="{{ section.settings.autorotate_speed | times: 1000 }}">
        {% for block in section.blocks %}
        {% if section.settings.arrow %}
            <button class="desktop-prev slideshow__arrow slideshow__arrow-previous" aria-label="{{ 'sections.slideshow.previous_slide' | t }}" data-slider-button>{% include 'icon-chevron-left' %}</button>
            <button class="desktop-next slideshow__arrow slideshow__arrow-next" aria-label="{{ 'sections.slideshow.next_slide' | t }}" data-slider-button data-slider-button-next>{% include 'icon-chevron-right' %}</button>
        {% endif %}
        <div id="slickSlide-{{ block.id }}" class="slideshow__slide slideshow__slide--{{ block.id }}{% if forloop.first %} slideshow__slide--active{% endif %}" data-slider-slide-index="{{ forloop.index0 }}" data-slider-item {{ block.shopify_attributes }}>
            {% if block.settings.img == blank %}
            <div class="slideshow__image js">
              <div class="placeholder-background">
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
            {% else %}
                <div style="background: url( {{ block.settings.img | img_url: '300x' }}) no-repeat 50% 50%; background-size: cover; object-fit: cover;" class="relative slideshow__image box lazyload hs-slideshow-img" data-sizes="auto" data-image-loading-animation>
                    <div class="absolute hs-slideshow-content">
                        {% if block.settings.title != blank %}
                        <h4>
                            {{ block.settings.title }}
                        </h4>
                        {% endif %}
                        {% if block.settings.innerText != blank %}
                        <h3>
                            {{ block.settings.innerText }}
                        </h3>
                        {% endif %}
                        {% if block.settings.btnText != blank %}
                        <a class="btn" href="{{ block.settings.btnLink }}">
                            {{ block.settings.btnText }}
                        </a>
                        {% endif %}
                    </div>
                </div>
                <!-- <img style="object-fit: cover;" data-sizes="auto" data-image-loading-animation class="slideshow__image box ratio-container lazyload" src="{{ block.settings.img | img_url:'300x' }}" alt=""> -->
            {% endif %}
        </div>
        {% endfor %}
        <div class="hs-slideshow__controls">
            {%- if section.blocks.size > 1 -%}
              {%- assign arrows_width = section.blocks.size | times: 18 | plus: 115 -%}
              <div style="display: flex !important;" class="transparent slideshow__arrows"
                   style="width: {{- arrows_width -}}px">
                    <ul class="slick-dots" data-slider-indicators>
                        {%- for block in section.blocks -%}
                            <li{% if forloop.first %} class="slick-active"{% endif %} data-slider-indicator>
                                <a href="#Slideshow-{{ section.id }}" aria-label="{{ 'sections.slideshow.load_slide' | t: slide_number: forloop.index }}" data-slide-number="{{ forloop.index0 }}" aria-controls="slickSlide-{{ block.id }}"></a>
                            </li>
                        {%- endfor -%}
                    </ul>
              </div>
              {% endif %}    
        </div>
    {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "HS Slideshow Section",
    "class": "index-section index-section--flush index-section--slideshow",
    "settings": [
        {
            "type": "checkbox",
            "id": "autorotate",
            "default": false,
            "label": "Autorotate"
        },
        {
            "type": "range",
            "id": "autorotate_speed",
            "max": 9,
            "min": 3,
            "step": 2,
            "default": 5,
            "unit": "s",
            "label": "Autorotate speed"
        },
        {
            "type": "checkbox",
            "id": "arrow",
            "label": "Show arrows?",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "Image",
            "name": "HS Slideshow Section",
            "settings": [
            {
                "type": "image_picker",
                "id": "img",
                "label": "Main image"
            },
            {
                "id" : "title",
                "type": "text",
                "label": "Title"
            },
            {
                "id": "innerText",
                "type": "text",
                "label": "Sub-heading"
            },
            {
                "id": "btnText",
                "type": "text",
                "label": "Button inner text",
                "default": "I want this!"
            },
            {
                "id": "btnLink",
                "type": "url",
                "label": "Button link"
            }
        ]    
        }
    ],
    "presets": [
        {
            "name": "HS Slideshow",
            "category": "HS"
        }
    ]
}
{% endschema %}