<div id="gallerysection">
   <div class="simplegallery">
      <div class="left_img">
         <img src="{{ section.settings.image1 | img_url: 'master'}}">
         <div class="content">
            <h3 class="title">{{ section.settings.title | truncate: 200}}</h3>
            <a href={{ section.settings.btn_link }}>
               <button div class="btn" type="button">{{ section.settings.btn_text | truncate: 50}}</button>
            </a>
         </div>
      </div>
      <div class="right_img">
         <div class="right_img_item">
            <img src={{ section.settings.image2 | img_url: 'master'}}>
         </div>
         <div class="right_img_item">
            <img src={{ section.settings.image3 | img_url: 'master'}}>
         </div>
      </div>
   </div>
</div>

{% schema %}
   {
      "name":"Simple gallery",
      "settings": [
         {
            "id":"title",
            "type":"text",
            "label":"Title",
            "default":"Checkout our new collection"
         },
         {  
            "id":"image1",
            "type":"image_picker",
            "label":"Left image"
         },
         {
            "id":"image2",
            "type":"image_picker",
            "label":"Upper right image"
         },
         {
            "id":"image3",
            "type":"image_picker",
            "label":"Lower right image"
         },
         {
            "id":"btn_link",
            "type":"url",
            "label":"Button link"
         },
         {
            "id":"btn_text",
            "type": "text",
            "label": "Button text",
            "default": "See all the collection"
         }
      ],
      "presets": [
         {
            "name": "Simple gallery",
            "category": "Image"
         }
      ]
   }

{% endschema %}

{% stylesheet %}
.simplegallery{
   display: flex;
   flex-direction: row;
   width: 100%;
   padding-left: 6.25vw;
   padding-right: 6.25vw;
}
.left_img{
   flex: 2;
   position: relative;
}
.content{
   max-width: 80%;
   word-wrap: break-word;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background: white;
   text-align: center;
   padding: 3.2vw;
   z-index: 1;
}
.right_img{
   flex: 1;
   display: flex;
   flex-direction: column;
}
.right_img_item{
   flex:1;
}
.simplegallery img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media only screen and (max-width: 980px){
   .simplegallery{
      flex-direction: column;
      flex: initial;
   }
   .right_img{
      display: flex;
      flex-direction: row;
   }
   .right_img_item{
      flex:1;
   }
   .simplegallery img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
{% endstylesheet %}